/* Custom fonts */
* {
  font-family: 'Encode Sans', sans-serif;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/* Jumbotron styling */
.jumbotron {
  background: linear-gradient(rgba(0, 15, 200, 0.5),rgba(0, 15, 200, 0.5)),
              url(images/facilitator.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: white;
}

/* nav styling */
#navbar-custom {
  background-color: purple;
}
